<div class="container">
    <main class="home">
      <div class="home-wrapper">
        <h2 class="home-title">Share your experience and plan</h2>
        <p>留学の計画をみんなでしよう。<br>
          Ryugakugramであなたの経験やプランを共有してみませんか？</p>
        
          <button class="btn btn-secondary sign-up-btn">登録する</button>
    
      </div>
      <div class="image-wrapper">
        <img src="/assets/irasuto.jpeg" alt="" width="450px">
        <img src="/assets/newyork.jpeg" alt="" width="450px">
      </div>
    </main>
  </div>
