<div class="nav-bottom">
  <%= link_to posts_path do %>
    <i class="fas fa-home fa-2x nav-icon-left"></i>
  <% end %>
  <%= link_to users_path do %>
    <i class="fas fa-search fa-2x nav-icon-center"></i>
  <% end %>
  <%= link_to new_post_path do %>
    <i class="fas fa-pen-square fa-2x nav-icon-right"></i>
  <% end %>
</div>