// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new_post

.new-post-wrapper{
  text-align: center;
  margin-top: 16%;
}

.new-post-wrapper input, textarea{
  display: block;
}

.new-post-wrapper textarea{
  width: 700px;
  border: none;
  font-size: 1.25rem;
  line-height: 150%;
  transform: translateX(500px);
  margin-bottom: 100px;
}

.new-post-wrapper label{
  margin-bottom: 30px;
}

.new-post-wrapper label:hover{
  opacity: 0.7;
}

#post_picture{
  display: none;
}

.post-new-btn{
  transform: translateX(500px);
}

// post_show

.post-show{
  width: 46rem;
  margin-top: 170px;
  margin-bottom: 100px;
  transform: translateX(440px);
}

.comment-field{
  width: 46rem;
}

.comments{
  margin-top: 10px;
  margin-left: 10px;
}

.comments img{
  border-radius: 50%;
}

.comments p{
  font-size: 0.75rem;
  margin-top: 7px;
  display: inline;
}

.comment-user{
  display: block;
  margin-top: 20px;
}

.comment-trash{
  position: absolute;
  right: 20px;
}

.favorite{
  position: absolute;
  right: 40px;
}

// responsive

@media (max-width: 670px){
  // new_post

  .new-post-wrapper{
    margin-top: 170px;
  }

  .new-post-wrapper textarea{
    width: 400px;
    transform: translateX(0);
    margin-bottom: 50px;
    font-size: 1rem;
  }

  .post-new-btn{
    transform: translateX(100px);
    width: 200px;
  }

  //post_show

  /* post-show */
  
  .post-show{
    margin-top: 120px;
    margin-bottom: 100px;
    width: 98%;
    transform: translateX(1%);
  }

  .comment-field{
    transform: translateX(-48px);
    width: 30.5rem;
  }


}