<header>
  <div class="container">
    <div class="header-flex">
      <h1 class="logo">Ryugakugram</h1>
      <ul class="nav">
        <li>HOME</li>
        <li>ABOUT</li>
      </ul>
    </div>
  </div>
  <!--responsive-nav-->
  <nav class="hunger-nav">
    <ul>
      <li>HOME</li>
      <li>ABOUT</li>
    </ul>
  </nav>
  <!-- ハンバーガーメニュー部分 -->
  <div class="toggle">
    　　<span></span>
    　　<span></span>
    　　<span></span>
  </div>
</header>